// CoreUI and necessary plugins
script(src='node_modules/@coreui/coreui/public/js/coreui.bundle.min.js')
script(src='node_modules/simplebar/public/simplebar.min.js')

block scripts

script 
  block js

